@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --color-gray: #333333;
  --color-red: #e60000;
  --color-gray2: #4a4d4e;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Vodafone";
  src: url("./assets/fonts/Vodafone.eot");
  src: local("Vodafone"),
    url("./assets/fonts/Vodafone.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Vodafone.woff2") format("woff2"),
    url("./assets/fonts/Vodafone.woff") format("woff"),
    url("./assets/fonts/Vodafone.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Vodafone", sans-serif;
  background-color: #ebebeb;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
